.logOutBtn {
  border-radius: 4px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.logOutBtn:hover,
.logOutBtn:focus {
  background-color: rgb(17, 189, 55);
  color: #fff;
  transform: scale(1.1);
  transition: all 250ms;
}

.userMenuContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userName {
  font-size: 20px;
  font-weight: 600;
}
